.logo {
    position: relative;
    top: -10px;
    left: -10px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button-group.first {
    flex: 1;
}

.button {
    font-size: calc(100% + 1pt);
    flex: 1;
}

.button.group-second {
    align-self: center;
}

.header {
    position: sticky;
    top: 0;
}

.header-spacing {
    margin-bottom: 0.5em; /* Reduced spacing for header */
}